@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes colorChange {
    0% {
      background-color: #DE2200;
    }
    50% {
      background-color:#940A4C;
    }
    100% {
      background-color: #9C0401;
    }
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    animation: colorChange 5s infinite;
  }
header {
    background-color:#AF0238;
    color: white;
    padding: 10px 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.profile-pic {
    border-radius: 50%;
    max-width: 150px;
    margin: 20px auto;
    display: block;
}
.message {
    font-size: 18px;
    color:whitesmoke;
    margin-bottom: 20px;
}
.message2{
    font-size: 18px;
    color:whitesmoke;
    margin-bottom: 30px;
}
.profile-pic, .message, .message2 {
    animation: fadeIn 1.5s ease-out 0.5s forwards;
  }
  
.footer {
    background-color:#AF0238;
    color: whitesmoke;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}